{% extends 'accounts/base.html' %}
{% block content %}
<h2 class="mb-4">Выберите тренера</h2>
<div class="row">
  {% for t in trainers %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        {% if t.user.photo %}
          <img src="{{ t.user.photo.url }}" class="card-img-top" alt="">
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5>{{ t.user.full_name }}</h5>
          <p>Стаж: {{ t.experience_years }} лет</p>
          <form action="{% url 'clients:trainer_apply' t.pk %}" method="get" class="mt-auto">
            <button class="btn btn-primary w-100">Отправить заявку</button>
          </form>
        </div>
      </div>
    </div>
  {% empty %}
    <p>Нет доступных тренеров.</p>
  {% endfor %}
</div>
{% endblock %}
