{% extends 'accounts/base.html' %}
{% block title %}Создать план — Fitness Center{% endblock %}
{% block content %}

<h2 class="mb-4">Создать план для {{ client.user.full_name }}</h2>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ plan_form.start_date.label_tag }}
    {{ plan_form.start_date }}
  </div>

  <h4>Упражнения</h4>
  {{ formset.management_form }}
  {% for form in formset %}
  <div class="card mb-3 p-3">
    <div class="mb-2">
      {{ form.exercise.label_tag }} {{ form.exercise }}
    </div>
    <div class="mb-2">
      {{ form.sets.label_tag }} {{ form.sets }}
    </div>
    <div class="mb-2">
      {{ form.reps.label_tag }} {{ form.reps }}
    </div>
    <div class="mb-2">
      {{ form.frequency_per_week.label_tag }} {{ form.frequency_per_week }}
    </div>
  </div>
{% endfor %}

  <button type="submit" class="btn btn-success">Сохранить план</button>
</form>

{% endblock %}
