{% extends 'accounts/base.html' %}
{% block title %}Статистика клиентов{% endblock %}
{% block content %}
<h1>Статистика по клиентам</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Клиент</th>
      <th>Выполнено %</th>
      <th>Средний пульс</th>
    </tr>
  </thead>
  <tbody>
    {% for s in stats %}
    <tr>
      <td>{{ s.client.user.full_name }}</td>
      <td>{{ s.percent_completed }}%</td>
      <td>{{ s.avg_pulse }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
